body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none; /* Safari, Chrome */
  -webkit-user-drag: none;
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE */
  user-select: none; /* CSS3 */
}

/* Global */
*{
  font-family: Raleway;
  font-weight: bold;
}

/* Global Animation Classes */
@keyframes fade {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
.fade-on-display {
  animation: fade 0.4s linear;
  animation-fill-mode: forwards;
}

/* Media Queries */
.responsive-flex {
  display: flex;
  flex-direction: row;
}
.hide-grid-on-small{
  display: grid;
}
.half-to-full-width{
  width: 50%;
}
/* Mobile */
@media only screen and (max-width: 768px) {
  /* Product Details Page  */
  .responsive-flex {
    flex-direction: column;
  }
  .hide-grid-on-small{
    display: none;
  }
  .half-to-full-width{
    width: 100%;
  }
}

/*-------INVISIBLE SCROLLBAR-------*/

/* width */
::-webkit-scrollbar {
  width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
